{
  "name": "mysql-source-demo-customers",
  "config": {
      "connector.class": "io.debezium.connector.mysql.MySqlConnector",
      "database.hostname": "localhost",
      "database.port": "3306",
      "database.user": "debezium",
      "database.password": "dbz",
      "database.server.id": "42",
      "database.server.name": "asgard",
      "table.whitelist": "demo.customers",
      "database.history.kafka.bootstrap.servers": "localhost:9092",
      "database.history.kafka.topic": "dbhistory.demo" ,
      "include.schema.changes": "true",
      "transforms": "unwrap,InsertTopic,InsertSourceDetails",
      "transforms.unwrap.type": "io.debezium.transforms.UnwrapFromEnvelope",
      "transforms.InsertTopic.type":"org.apache.kafka.connect.transforms.InsertField$Value",
      "transforms.InsertTopic.topic.field":"messagetopic",
      "transforms.InsertSourceDetails.type":"org.apache.kafka.connect.transforms.InsertField$Value",
      "transforms.InsertSourceDetails.static.field":"messagesource",
      "transforms.InsertSourceDetails.static.value":"Debezium CDC from MySQL on asgard"
  }
}
