{
  "name": "es_sink_RATINGS_ENRICHED",
  "config": {
      "topics": "RATINGS_ENRICHED",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "connector.class": "io.confluent.connect.elasticsearch.ElasticsearchSinkConnector",
      "key.ignore": "true",
      "schema.ignore": "false",
      "type.name": "ratings_enriched",
      "topic.index.map": "RATINGS_ENRICHED:ratings_enriched",
      "connection.url": "http://localhost:9200",
      "transforms": "ExtractTimestamp",
      "transforms.ExtractTimestamp.type": "org.apache.kafka.connect.transforms.InsertField$Value",
      "transforms.ExtractTimestamp.timestamp.field" : "EXTRACT_TS"
  }
}
