{
  "name": "mysql-source-demo-customers-raw",
  "config": {
      "connector.class": "io.debezium.connector.mysql.MySqlConnector",
      "database.hostname": "localhost",
      "database.port": "3306",
      "database.user": "debezium",
      "database.password": "dbz",
      "database.server.id": "43",
      "database.server.name": "asgard",
      "table.whitelist": "demo.customers",
      "database.history.kafka.bootstrap.servers": "localhost:9092",
      "database.history.kafka.topic": "dbhistory.demo" ,
      "include.schema.changes": "true",
      "transforms": "addTopicSuffix",
      "transforms.addTopicSuffix.type":"org.apache.kafka.connect.transforms.RegexRouter",
      "transforms.addTopicSuffix.regex":"(.*)",
      "transforms.addTopicSuffix.replacement":"$1-raw"       
  }
}
