**/.idea/
**/kafka-streams-examples
**/delta_configs/
**/target/
img_data
**/python_notify/
**/confluent-hub-components/
.Python
.vscode
**/node_modules/
*.tar.gz
kubernetes/common/cp/
log.*
*.crt
*.p12
*.der
*.key
*.pem
*.jks
*.csr
*.srl
*_creds
**/stack-configs/
**/eventlogs.sql
**/.DS_Store
ccloud/*.zip
*.project
*.classpath
**/.settings/
**/.gradle/
clients/cloud/**/bin/
ccloud/beginner-cloud/.ignored_folder/*
!ccloud/beginner-cloud/.ignored_folder/.gitkeep
ccloud-observability/target/*
ccloud-observability/.env