**/.idea/
**/kafka-streams-examples
**/delta_configs/
**/target/
img_data
**/python_notify/
**/confluent-hub-components/
.Python
.vscode
**/node_modules/
*.tar.gz
kubernetes/common/cp/
log.*
*.crt
*.p12
*.der
*.key
*.pem
*.jks
*.csr
*.srl
*_creds
