# Kafka
spring.kafka.properties.bootstrap.servers=localhost:9092

# Confluent Schema Registry
spring.kafka.properties.schema.registry.url=http://localhost:8081
# producer configuration
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=io.confluent.kafka.serializers.KafkaAvroSerializer
# consumer configuration 
spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.consumer.value-deserializer=io.confluent.kafka.serializers.KafkaAvroDeserializer
