kafka {
  # Required connection configs for Kafka producer, consumer, and admin
  bootstrap.servers = ["{{ BROKER_ENDPOINT }}"]

  properties {
    security.protocol = SASL_SSL
    sasl.jaas.config = "org.apache.kafka.common.security.plain.PlainLoginModule   required username='{{ CLUSTER_API_KEY }}'   password='{{ CLUSTER_API_SECRET }}';"
    sasl.mechanism = PLAIN
    # Required for correctness in Apache Kafka clients prior to 2.6
    client.dns.lookup = use_all_dns_ips
    # Best practice for Kafka producer to prevent data loss
    acks = all
  }
  consumer {
    group.id = "consumer"
    key.deserializer = org.apache.kafka.common.serialization.StringDeserializer
    value.deserializer = org.apache.kafka.common.serialization.StringDeserializer
  }
  producer {
    client.id = "producer"
    key.serializer = org.apache.kafka.common.serialization.StringSerializer
    value.serializer = org.apache.kafka.common.serialization.StringSerializer
  }
}
