# Kafka
bootstrap.servers={{ BROKER_ENDPOINT }}
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username={{ CLUSTER_API_KEY }}
sasl.password={{ CLUSTER_API_SECRET }}

# Recommended consumer configuration to avoid unwanted or accidental rebalances
session.timeout.ms=45000
# Recommended producer configuration to avoid duplication
request.timeout.ms=30000
