{
  "name": "replicate-topic",
  "config": {
    "connector.class": "io.confluent.connect.replicator.ReplicatorSourceConnector",
    "topic.whitelist": "wikipedia.parsed",
    "topic.rename.format": "${topic}.replica",
    "key.converter": "io.confluent.connect.replicator.util.ByteArrayConverter",
    "value.converter": "io.confluent.connect.replicator.util.ByteArrayConverter",
    "src.zookeeper.connect": "localhost:2181",
    "dest.zookeeper.connect": "localhost:2181",
    "src.kafka.bootstrap.servers": "localhost:9092",
    "src.consumer.interceptor.classes": "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor",
    "src.consumer.confluent.monitoring.interceptor.bootstrap.servers": "localhost:9092",
    "src.consumer.group.id": "connect-replicator",
    "tasks.max": "1"
  }
}
