# Required connection configs for Kafka producer, consumer, and admin

bootstrap.servers=pkc-9kyxy7.us-west-2.aws.devel.cpdev.cloud:9092
security.protocol=SASL_SSL

sasl.login.callback.handler.class=io.confluent.examples.clients.cloud.OAuthBearerLoginWithIdentityPoolCallbackHandler
#sasl.login.callback.handler.class=io.confluent.kafka.clients.plugins.auth.oauth.OAuthBearerLoginCallbackHandler
#sasl.client.callback.handler.class=org.apache.kafka.common.security.oauthbearer.internals.OAuthBearerSaslClientCallbackHandler
#sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginCallbackHandler

#java.security.auth.login.config
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule    required token='jwttoken'    logicalCluster='lkc-kx1gkg'    identityPoolId='pool-gqoZ';


sasl.mechanism=OAUTHBEARER
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}



# Required connection configs for Kafka producer, consumer, and admin
# Config from UI
#bootstrap.servers=pkc-22y06m.us-west-2.aws.devel.cpdev.cloud:9092
#security.protocol=SASL_SSL
#sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='LTLK2PY6E4G6IOPW'   password='iZfYbFUZsnM8mVoA9H4Szuherr540tuDKJjZO7+O5saLQwQGLEmOpAgULr7urJZR';
#sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
#client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
#session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
#schema.registry.url=https://{{ SR_ENDPOINT }}
#basic.auth.credentials.source=USER_INFO
#basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}

# Required connection configs for Kafka producer, consumer, and admin

# oauth2

#bootstrap.servers=pkc-22y06m.us-west-2.aws.devel.cpdev.cloud:9092
#security.protocol=SASL_SSL
#sasl.oauthbearer.token.endpoint.url=https://dev-531534.okta.com/oauth2/aus1z55evcaY3sQV74x7/v1/token
#sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
#sasl.mechanism=OAUTHBEARER
#sasl.jaas.config= \
#        org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
#                clientId='0oa3tq39ol3OLrnQj4x7' \
#                scope='lkc-123' \
#                clientSecret='oat7Z1uN1qcuKojPL8Jur20faJjovNZa8hL1uX2W' \
#                extension_logicalCluster='lkc-x60vrx' \
#                extension_identityPoolId='pool-gqoZ';
# Required for correctness in Apache Kafka clients prior to 2.6
#client.dns.lookup=use_all_dns_ips
# Best practice for higher availability in Apache Kafka clients prior to 3.0
#session.timeout.ms=45000
# Best practice for Kafka producer to prevent data loss
#acks=all

