# *****************************************************************
# This Config will help your java client to connect with Kafka via OAuth
#### Modify token bootstrap.servers, endpoint, scope, logical cluster, identity pool id as per your need
# *****************************************************************

# Required connection configs for Kafka producer, consumer, and admin

# e.g. pkc-6rzm8.us-central1.gcp.devel.cpdev.cloud:9092
bootstrap.servers=pkc-pgng0o.us-west-2.aws.devel.cpdev.cloud:9092
security.protocol=SASL_SSL
sasl.oauthbearer.token.endpoint.url=https://dev-90039880.okta.com/oauth2/aus60kto8thihqFxl5d7/v1/token
sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
sasl.mechanism=OAUTHBEARER
sasl.jaas.config= \
	org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
		clientId='0oa60kv6hmBm8eRyg5d7' \
		scope='30-minutes-refresh' \
		clientSecret='V6aQ-RJNGMs3nhjWXb4090-ZjvC-iLnpvSzfWZQR' \
		extension_logicalCluster='lkc-y6m617' \
		extension_identityPoolId='pool-J9Zx';
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all